#lugar_sede {
    position: absolute;
    font-family: helvetica !important;
    font-size: 18pt;
    top: 155px;
    left: 522px;
    width: 400px;
    text-align: center;
}
#fecha {
    position: absolute;
    font-family: helvetica !important;
    font-size: 13pt;
    top: 298px;
    left: 727px;
    width: 160px;
    text-align: center;
    font-weight: bold;
}
#doctores {
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top:  410px;
    left: 55px;
    line-height: 1.4em
}