
#nombre_participante1{
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 143px;
    left: 113px   
}
#nombre_participante2{
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 143px;
    left: 433px 
}