#folio {
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 708px;
    left: 975px;
}
#datos{
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 267px;    
    width: 100%;
    padding-left: 82px;
    background: white;
    height: 700px
    
}
div table {
    border-collapse: collapse;    
    width: 879px;
    border: solid;
    border-width: 1px;
}
div table tr td:nth-child(1){
    width: 274.4px;
    height: 53px;
    padding-left: 3px;

}
div table tr td:nth-child(2){
    width: 151px;
    padding-left: 3px;  
}
div table tr td:nth-child(3){
    width: 151.2px;
    padding-left: 3px;  
}
div table tr td:nth-child(4){
    width: 151.1px;
}
div table tr{
    height: 90px;
    padding-left: 3px;
}

