#fecha_actual_sede {
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 215px;
    left: 525px;
}
#instructor {
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 285px;
    left: 123px;  
}
#sede_curso {
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 439px;
    left: 135px;
}

#dia1_curso {
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 439px;
    left: 520px;
    width: 100%;
}
#dia2_curso {
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 439px;
    left: 595px;
    width: 100%;
}
#mes_curso {
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 460px;
    left: 160px;
    width: 100%;
}
#director_curso {
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 750px;
    width: 100%;
    text-align: center;
}
#folio {
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 932px;
    left: 660px;
    width: 100%;
    display: none;
}

