
#lugar_sede1{
    position: absolute;
    font-family: helvetica !important;
    font-size: 17pt;
    top: 155px;
    left: 522px;
    width: 400px;
    font-weight: bold;
    text-align: center;
}
#lugar_fecha{
    font-weight: bold;
}

#contenido{
    position: absolute;
    font-family: helvetica !important;
    font-size: 18.7pt;
    top: 255px;
    left: 50px;
    width: 890px;
    word-spacing: 1px;
    letter-spacing: .5px
}