#nombre_estudiante{
    position: absolute;
    font-family: helvetica !important;
    font-size: 11pt;
    left: 172px;
    top: 135px;

}
#fecha_prueba{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    left: 600px;
    top: 137px;
    
}
#instructor_iniciales{
    position: absolute;
    font-family: helvetica !important;
    font-size: 8pt;
    left: 178px;
    top: 965px;

}
#instructor_num{
    position: absolute;
    font-family: helvetica !important;
    font-size: 8pt;
    left: 390px;
    top: 965px;

}
#fecha_actual{
    position: absolute;
    font-family: helvetica !important;
    font-size: 8pt;
    left: 600px;
    top: 965px;
    
}


        
