#nombre_estudiante{
    position: absolute;
    font-family: helvetica !important;
    font-size: 11pt;
    left: 160px;
    top: 104px;

}
#fecha_prueba{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    left: 510px;
    top: 106px;
    
}
#instructor_iniciales{
    position: absolute;
    font-family: helvetica !important;
    font-size: 8pt;
    left: 178px;
    top: 717px;

}
#instructor_num{
    position: absolute;
    font-family: helvetica !important;
    font-size: 8pt;
    left: 175px;
    top: 734px;
    width: 150px;
    text-align: center;
}
#fecha_actual{
    position: absolute;
    font-family: helvetica !important;
    font-size: 8pt;
    left: 400px;
    top: 734px;
    width: 150px;
    text-align: center;
    
}




#nombre_estudiante1{
    position: absolute;
    font-family: helvetica !important;
    font-size: 11pt;
    left: 160px;
    top: 99px;

}
#fecha_prueba1{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    left: 510px;
    top: 100px;
    
}
#instructor_iniciales1{
    position: absolute;
    font-family: helvetica !important;
    font-size: 8pt;
    left: 178px;
    top: 710px;

}
#instructor_num1{
    position: absolute;
    font-family: helvetica !important;
    font-size: 8pt;
    left: 175px;
    top: 727px;
    width: 150px;
    text-align: center;
}
#fecha_actual1{
    position: absolute;
    font-family: helvetica !important;
    font-size: 8pt;
    left: 400px;
    top: 727px;
    width: 150px;
    text-align: center;
    
}





#nombre_estudiante2{
    position: absolute;
    font-family: helvetica !important;
    font-size: 11pt;
    left: 160px;
    top: 99px;

}
#fecha_prueba2{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    left: 510px;
    top: 100px;
    
}
#instructor_iniciales2{
    position: absolute;
    font-family: helvetica !important;
    font-size: 8pt;
    left: 178px;
    top: 725px;

}
#instructor_num2{
    position: absolute;
    font-family: helvetica !important;
    font-size: 8pt;
    left: 175px;
    top: 743px;
    width: 150px;
    text-align: center;
}
#fecha_actual2{
    position: absolute;
    font-family: helvetica !important;
    font-size: 8pt;
    left: 400px;
    top: 741px;
    width: 150px;
    text-align: center;
    
}