
#estudiante{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 121px;
    left: 195px
}
#fecha1{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 121px;
    left: 625px
}
#iniciales_intr{
    position: absolute;
    font-family: helvetica !important;
    font-size: 8pt;
    top: 968px;
    left: 195px
}
#name_intr{
    position: absolute;
    font-family: helvetica !important;
    font-size: 8pt;
    top: 968px;
    left: 385px
}
#fecha2{
    position: absolute;
    font-family: helvetica !important;
    font-size: 8pt;
    top: 968px;
    left: 610px
}
