
#estudiante{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 143px;
    left: 200px
}
#fecha1{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 143px;
    left: 625px
}
#iniciales_intr{
    position: absolute;
    font-family: helvetica !important;
    font-size: 8pt;
    top: 983px;
    left: 220px
}
#name_intr{
    position: absolute;
    font-family: helvetica !important;
    font-size: 8pt;
    top: 983px;
    left: 396px
}
#fecha2{
    position: absolute;
    font-family: helvetica !important;
    font-size: 8pt;
    top: 983px;
    left: 610px
}
