#nombre_estudiante {
    position: absolute;
    font-family: helvetica !important;
    font-size: 25pt;
    top: 330px;
    font-weight: 1;
    width: 100%;
    text-align: center;
}
#parrafo {
    position: absolute;
    font-family: helvetica !important;
    font-size: 19pt;
    top: 400px;
    width: 75%;
    left: 12.5%;
    text-align: center;
    line-height: 1.5em;
  
}
#nac {
    position: absolute;
    font-family: helvetica !important;
    font-size: 15pt;
    top: 725px;
    left: 160px;
  
}
#folio {
    position: absolute;
    font-family: helvetica !important;
    font-size: 15pt;
    top: 725px;
    left: 950px;
    

}
