
#date{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 188px;
    left: 530px;
}
#name{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 188px;
    left: 130px;
}
#number_course{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 223px;
    left: 210px;
}
#test_v{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 223px;
    left: 580px; 
    width: 100% 
}
