
#name{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 139px;
    left: 140px;
}
#ssn{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 139px;
    left: 480px;
}
#phone{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 181px;
    left: 170px;
}
#course_site{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 181px;
    left: 495px;
}

