
#curso_nacional{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 155px;
    left: 170px;
    width: 140px;
    text-align: center;
}
#fecha_curso{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 155px;
    left: 490px;
}
#coordinador_curso{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 155px;
    left: 770px;
}
#Localidad{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 188px;
    left: 340px;
}
#facultad_afiliada{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 188px;
    left: 780px;
}
#tipo_curso{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 215px;
}
#curso2{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 192px;
    left: 373px;
}

#participantes{
    position: absolute;
    font-family: helvetica !important;
    font-size: 9pt;
    top: 310px;
    left: 48px;    
    width:934px;
    background: ;
    /*945px*/   
}
#table_participantes{
    border-collapse: collapse;
    width: 100%;
    font-family: helvetica !important;
}
#table_participantes tr td{    
    height: 23.8px;
    font-size: 11px;
    padding-left: 3px    
}

#table_participantes tr td:nth-child(1){
    width: 35px;
    text-align: center;
    font-size: 12px
}
#table_participantes tr td:nth-child(2){
    width: 157px;
}
#table_participantes tr td:nth-child(3){
    width: 323px;
}
#table_participantes tr td:nth-child(4){
    width: 92px;
    text-align: center;
}
#table_participantes tr td:nth-child(5){
    width: 65px;
    text-align: center;
}

#table_participantes tr td:nth-child(6){
    width: 69px;
    text-align: center; 

}
#table_participantes tr td:nth-child(7){
    text-align: center;
    width: 55px;
}
#table_participantes tr td:nth-child(8){
    text-align: center;
    width: 66px;
}
#table_participantes tr td:nth-child(9){
    text-align: center;
}

#number{
}











