
#lider{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 119px;
    left: 165px;
}
#instructor{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 119px;
    left: 392px;
}
#date{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 119px;
    left: 620px;
}
