
#lider{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 138px;
    left: 185px;
}
#instructor{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 138px;
    left: 410px;
}
#date{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 138px;
    left: 635px;
}
