
#fecha_actual{
    position: absolute;
    font-family: helvetica !important;
    font-size: 13pt;
    top: 220px;
    width: 150px;
    text-align: center;
    left: 690px
}
#ciudad{
    position: absolute;
    font-family: helvetica !important;
    font-size: 13pt;
    top: 220px;
    width: 150px;
    text-align: center;
    left: 870px;
}
#dia_curso{
    position: absolute;
    font-family: helvetica !important;
    font-size: 13pt;
    top: 340px;
    width: 30px;
    text-align: center;
    left: 850px;
}
#mes_curso{
    position: absolute;
    font-family: helvetica !important;
    font-size: 13pt;
    top: 340px;
    width: 80px;
    text-align: center;
    left: 915px;
}
#docto1{
    position: absolute;
    font-family: helvetica !important;
    font-size: 13pt;
    top: 465px;  
    left: 64px;
}
#docto2{
    position: absolute;
    font-family: helvetica !important;
    font-size: 13pt;
    top: 490px;  
    left: 64px;
}
#docto3{
    position: absolute;
    font-family: helvetica !important;
    font-size: 13pt;
    top: 515px;  
    left: 64px;
}
#docto4{
    position: absolute;
    font-family: helvetica !important;
    font-size: 13pt;
    top: 540px;  
    left: 64px;   
}

