
#nombre_estudiante{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 160px;
    left: 200px;
}

#fecha_prueba{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 160px;
    left: 600px;
}

#instructor_iniciales{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 938px;
    left: 215px;
}
#instructor_num{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 938px;
    left: 420px;
}
#fecha_actual{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 938px;
    left: 600px;
}