#fecha_sede {
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 92px;
    left: 462px;
}

#nombre {
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 342px;
    left: 335px;
}

#curso {
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 388px;
    left: 520px;
}

#nombre_participante {
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 748px;
    width: 785px;
    text-align: center;

}

