#nombre1 {
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 116px;
    left: 145px
}
#nombre2 {
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 116px;
    left: 520px
}

#folio1 {
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 947px;
    left: 300px;
    width: 50%;
}
#folio2 {
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 947px;
    left: 700px;
    width: 50%
}