
#participante1{
    position: absolute;
    font-family: helvetica !important;
    font-size: 11pt;
    top: 91px;
    left: 185px;
    /*30px;*/
}
#participante2{
    position: absolute;
    font-family: helvetica !important;
    font-size: 9pt;
    top: 255px;
    left: 90px;    
    width: 310px;
    text-align: left;
    color: #3c343b   
}
#capacitacion{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 330px;
    left: 90px;    
    width: 310px;
    text-align: center;
    color: #3c343b;
}
#fecha_emision{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 355px;
    left: 90px;    
    width: 100px;
    text-align: center;
    color: #3c343b;
    letter-spacing: 1px;

}
#fecha_renovacion{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 355px;
    left: 255px;    
    width: 143px;
    text-align: center;
    color: #3c343b;
    letter-spacing: 1px;

}
#centro{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 275px;
    left: 500px;    
    width: 200px;
    text-align: center;
    color: #3c343b;

}
#director_curso{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 310px;
    left: 500px;    
    width: 260px;
    text-align: center;
    color: #3c343b;   

}
#folio1{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 377px;
    left: 700px;
    font-weight: bold;
    display: none;  
     

}
#participante3{
    position: absolute;
    font-family: helvetica !important;
    font-size: 19pt;
    top: 735px;
    width: 100%;
    text-align: center;   

}
#lugar1{
    position: absolute;
    font-family: helvetica !important;
    font-size: 8.7pt;
    top: 846px;
    left: 440px   

}
#dia1{
    position: absolute;
    font-family: helvetica !important;
    font-size: 8.4pt;
    top: 903px;
    left: 300px;
    width: 100%;

}
#dia2{
    position: absolute;
    font-family: helvetica !important;
    font-size: 8.4pt;
    top: 885px;
    left: 350px;
    width: 100%;
    display: none;

}
#mes{
    position: absolute;
    font-family: helvetica !important;
    font-size: 8.4pt;
    top: 903px;
    left: 378px;
    width: 100%;   

}
#anio{
    position: absolute;
    font-family: helvetica !important;
    font-size: 8.4pt;
    top: 903px;
    left: 465px;
    width: 100%;

}
#lugar2{
    position: absolute;
    font-family: helvetica !important;
    font-size: 8.4pt;
    top: 903px;
    left: 520px;
    width: 100%;

}
#folio2{
    position: absolute;
    font-family: helvetica !important;
    font-size: 11pt;
    top: 992px;
    left: 709px;
    font-weight: bold;
    display: none;

}



    