#folio {
    position: absolute;
    font-family: helvetica !important;
    font-size: 11pt;
    top: 677px;
    left: 970px;
}
#participantes{
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 238px;    
    width: 865px;
    left: 82px;
    
}
#table_participantes {
    border-collapse: collapse;
    width: 100%;

}
#table_participantes tr td{
    height: 40.8px;
}
#table_participantes tr td:nth-child(1){
    text-align: center;
    width: 29px;
}
#table_participantes tr td:nth-child(2){    
    padding-left: 5px;  
    width: 301px
}
#table_participantes tr td:nth-child(3){
    padding-left: 5px; 
    width: 203px  
}
#table_participantes tr td:nth-child(4){
    width: 109px
}
#table_participantes tr td:nth-child(5){
    text-align: center;
    width: 66px   
}
#table_participantes tr td:nth-child(6){
    text-align: center;
    width: 92px 
}
#table_participantes tr td:nth-child(7){
    text-align: center;

}
#number{
    background: white;
}

