#nombre{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 240px;
    left: 170px;
}
#fecha{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 240px;
    left: 450px;
}

#version{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 240px;
    left: 640px;
    width: 40px;
    text-align: center;
}