#no_curso {
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 182px;
    left: 152px;
}
#director {
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 218px;
    left: 182px;
}
