#estudiante {
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 126px;
    left: 194px;
}

#estudiante2 {
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 144px;
    left: 194px;
}

#estudiante3 {
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 960px;
    left: 200px;
}