
#no_curso{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 120px;
    left: 152px;
    width: 150px;
    text-align: center;
}
#name{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 150px;
    left: 280px;
}
#dig{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 150px;
    left: 830px;
    width: 170px;
    text-align: center;
}
#name_evaluador{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 181px;
    left: 155px;
}
#date_ic{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 181px;
    left: 830px;
    width: 170px;
    text-align: center;
}
#date_course{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 212px;
    left: 150px;
}
#date_ic_original{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 212px;
    left: 830px;
    width: 170px;
    text-align: center;
}
#expe_moni{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 238px;
    width: 25px;
    height: 25px;
    border: 1px solid;
    border-radius: 50%;
}
   
#name2{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 692px;
    left: 85px;
}
#fecha_actual1{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 651px;
    left: 395px;
}
#fecha_actual2{
    position: absolute;
    font-family: helvetica !important;
    font-size: 10pt;
    top: 723px;
    left: 395px;
}

