#option_indica{
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 166px;
}
#num_curso{
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 256px;
    left: 180px;
}

#director_curso{
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 256px;
    left: 645px;
}
#instructor{
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 371px;
    left: 171px;
    width: 842px
}

#table_intr{
    border-collapse: collapse;
    width: 100%;
}
#table_intr tr td{
    height: 30px;
}
#table_intr tr td:nth-child(1){
    width: 304px
}
#table_intr tr td:nth-child(2){
    width: 120.3px;
    text-align: center;    
}
#table_intr tr td:nth-child(3){
    width: 82px;
    text-align: center;    
}
#table_intr tr td:nth-child(4){
    width: 84px;
    text-align: center;    
}
#table_intr tr td:nth-child(5){
    padding-left: 5px    
}