#no_curso {
    position: absolute;
    top: 212px;    
    left: 130px;
    width: 250px;
    text-align: center;
}
#fecha {
    position: absolute;
    top: 212px;    
    left: 460px;
    width: 280px;
    text-align: center;
}
#datos{
    position: absolute;
    top: 299px;    
    width: 712px;
    left: 64px;
    
}
div table {
    border-collapse: collapse;
    border-style: solid;
    border-color: white;
    width: 100%;
    font-family: helvetica !important;
    font-size: 8pt;
    background: white
}
div table tr td:nth-child(1){
    width: 33px;
    height:40px;
    padding-right: 5px;
    text-align: center;
    font-weight: bold;
}
div table tr td:nth-child(2){
    width: 323.7px;
    padding-left: 5px
}
div table tr td:nth-child(3){
    padding-left: 5px
}
div table tr{
    padding-left: 3px;
}
