#fecha_sede {
    position: absolute;
    font-family: helvetica !important;
    font-size: 11pt;
    top: 145px;
    left: 485px;
}
#nombre_participante {
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 734px;
    width: 100%;
    text-align: center;
}
