#fecha_sede {
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 150px;
    left: 470px;
}
#nombre_participante {
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 760px;

}