#nombre {
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 115px;
    left: 110px

}
#folio {
    position: absolute;
    font-family: helvetica !important;
    font-size: 12pt;
    top: 949px;
    left: 700px

}